extends layout.pug
block variables
  - function formatDateWithTime(dateString) { return new Date(dateString).toLocaleString('ru-RU'); };

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      each comment in comments
        ul.publication__list
          form(action=`/articles/${comment.article.id}/comments/${comment.id}` method='POST')
            li.publication__list-item
              .publication__header
                img.publication__list-image(src=`/img/${comment.user.avatar}`, width='20', height='20', alt='Аватар пользователя')
                b.publication__list-name #{comment.user.firstName} #{comment.user.lastName}
                time.publication__item-time(datetime=formatDateWithTime(comment.createdAt)) #{formatDateWithTime(comment.createdAt)}
              a.publication__item-text(href=`/article/${comment.article.id}`)
                | #{comment.article.title}
              p.publication__text-strong
                | #{comment.text}
              button.publication__button.button.button--close-item(type='submit')
                span.visually-hidden Закрыть строку списка
